<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8.1"/>
    <httpRuntime targetFramework="4.5"/>
    <siteMap>
      <providers>
        <add name="NotLoginSiteMap" siteMapFile="Web.sitemap" type="System.Web.XmlSiteMapProvider"/>
        <add name="LoginSuccess" siteMapFile="Web2.sitemap" type="System.Web.XmlSiteMapProvider"/>
      </providers>
    </siteMap>
  </system.web>
  <connectionStrings>
    <add name="qlBanDongHo" connectionString="data source = DESKTOP-FKFEUI5\NGONGOCHUY; initial catalog=QL_BanDongHo; Integrated Security = true; MultipleActiveResultSets=true"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>